.titulo{
 min-height: 200px;
    background-color: rgb(216, 218, 226);
    box-shadow: 1px 1px 25px #0000007a;
  }
  .logo{
    height: auto;
    max-width: 30%;
    max-height: 30%;
  }

  .logoetec{
    height: auto;
    max-width: 17%;
    max-height: 17%;
    margin-right: 4%;
    margin-left: 2%;
    margin-bottom: 1%;
  }
  .tamanho{
width: 360px;
height: 230px;
  }
  .meio {
    margin: 0 230px; /* Espaço para as barras laterais */
    padding: 30px;
    background-color: rgb(216, 218, 226);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.479);
    border-radius: 30px;
  }
  .sombra{
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.479);
  }
.centro{
  display: grid;
  place-items: center;
}
.centro2{
  display: flex;
  justify-content: center;
  place-items: center;
}
body{
 color: aquamarine;
}
.separar{
  gap: 11px;
}
.separar2{
  gap: 100px;
}
@media (max-width: 1200px) {
  .barras {
      width: 150px; /* Ajusta a largura das barras laterais */
  }

  .meio {
      margin: 0 10px; /* Margem reduzida */
  }
}

@media (max-width: 900px) {
  .barras {
      width: 120px; /* Ajusta a largura das barras laterais */
  }

  .titulo {
      font-size: 18px; /* Ajuste de tamanho da fonte */
  }

  .meio {
      margin: 0 5px; /* Margem menor */
  }
}

@media (max-width: 600px) {
  .barras {
      width: 100px; /* Ajusta a largura das barras laterais */
  }

  .titulo {
      font-size: 16px; /* Ajuste de tamanho da fonte */
  }

  .tamanho {
      width: 95%; /* Ajusta para ocupar 95% da largura */
  }
}